extends layout

block content
		app-error()
		div(data-bind="component: {name: 'book-navigator'}")
			h1 Loading...
		div(class='row')
			div(class='col-md-4')
				verses-input()
			div(class='col-md-8')
				verses()
		book-output()
block script
	script(src="./javascripts/bundle.js", type="text/javascript")
