div(data-bind='visible: showMe')
	textarea(data-bind='textInput: newVerse, enterKey: addVerse, showFocus: writingVerse', class='form-control', placeholder='Start Typing Your Verses & Press Enter After Each One!')
	div(data-bind='visible: writingVerse', class='alert alert-info') Press the "Enter" Key to Add Your New Verse